/asdasdasdsadas.cpp
/asdasdasdsadas.exe
/asdjbaskbdajsd.cpp
/asdjbaskbdajsd.exe
/cahtgpt wlA.cpp
/cahtgpt wlA.exe
/cahtgptvectro.cpp
/cahtgptvectro.exe
/chekning again.cpp
/chekning again.exe
/chlking agan.cpp
/chlking agan.exe
/copyy.txt
/eijdkejkde.cpp
/eijdkejkde.exe
/Example.txt
/filehandle
/filehandle.txt
/iict.cpp
/iict.exe
/lab 14.cpp
/lab 14.exe
/lab report 13.1.cpp
/lab report 13.1.exe
/lab report 13.cpp
/lab report 13.exe
/lab try.cpp
/lab try.exe
/large main.cpp
/large main.exe
/last assignment.cpp
/last assignment.exe
/lastass.txt
/learn.txt
/learning filesss.cpp
/learning filesss.exe
/main project.cpp
/new.txt
/raheel.cpp
/raheel.exe
/remainder func.cpp
/remainder func.exe
/semesteer project.cpp
/semesteer project.exe
/semester project .exe
/structure laerninfsd.cpp
/structure laerninfsd.exe
/student_23.txt
/student_35.txt
/student_54.txt
/student_66.txt
/Untitled1.cpp
/Untitled1.exe
/Untitled1adsadsa.cpp
/Untitled1adsadsa.exe
/Untitled3.cpp
/Untitled3.exe
/Untitled4.cpp
/Untitled4.exe
/Untitled5.cpp
/Untitled5.exe
/vectors.cpp
/vectors.exe